
/* Base Styles */

.langs_body {
    display:none;
    cursor:pointer;
    float:left;
    width:120px;
    color: #2f9635;
    background-color: #3a3a3a;
    text-align:left;
    position:absolute;
    z-index:99;}
.langs_body a {padding:0px 10px;}
.langs {
    float:left;
    margin:0px 5px;
    width:120px;
    color: #2f9635;
    background-color: rgba(0, 0, 0, 0.81);
    line-height:1.5;
    text-align:center;}

.normal {
    color: green;
}

.exceeded {
    color: red;
}

.footer {
    padding-bottom: 15px;
}

.error, .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}
